<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Pawtopia</title>
        <meta name="descripcion" content="Guardería y spa para mascotas">
         <!-- FAVICON -->
        <link rel="icon" type="img/png" href="../assets/img/animales.png">
         <!-- CSS -->
        <link rel="stylesheet" href="../css/estilos.css">
        <!-- CSS de Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
        <!-- CSS de Leaflet Routing Machine -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
        <!-- FUENTES-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <header>
             <!-- HEADER -->
            <div class="logotexto">
                <img src="../assets/img/animales.png" alt="logotipo" class="logo" width="512" height="512">
                <h1>Pawtopia</h1>
            </div>
            <nav class="navigationBar">
                <ul class="navigationBarList">
                    <li>
                        <a class="enlace" href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a class="enlace" href="../views/galeria.html">Galeria</a>
                    </li>
                    <li>
                        <a class="enlace" href="../views/presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a class="enlace activo" href="#">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- CUERPO -->
        <main>
            <div class="contacto">
                <h2>Mapa</h2>
                <div class="contactoinfo">
                    <div id="map"></div>
                    <div class="contacto-texto">
                    <p>C/ Severo Ochoa, nº15</p>
                    <p>Avilés, Asturias 33401</p>
                    <p>+34 654 30 55 12</p>
                    <p>Pawtopia@gmail.com</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
             <!-- PIE -->
            <p>&copy; 2025 Pawtopia. Todos los derechos reservados.</p>
            <p>C/ Serero Ochoa, Avilés | +34 654 30 55 12</p>
                <div class="redes-sociales">
                    <a href="www.facebook.com"><img src="../assets/img/Facebook.png" alt="Icono de Facebook" class="facebook" width="512" height="512"></a>
                    <a href="www.instagram.com"><img src="../assets/img/instagram.png" alt="Icono de Instagram" class="instagram" width="512" height="512"></a>
                    <a href="www.x.com"><img src="../assets/img/twitter.png" alt="Icono de Twitter" class="twitter" width="460" height="460"></a>
                    <a href="www.youtube.com"><img src="../assets/img/youtube.png" alt="Icono de Youtube" class="youtube" width="512" height="512"></a>
                </div>
        </footer>
         <!-- MAPA -->
         <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
         <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
         <!-- JAVA -->
        <script src="../js/javascript.js"></script>
        <script src="../js/mapa.js"></script>
    </body>
</html>