<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Pawtopia</title>
        <meta name="descripcion" content="Guardería y spa para mascotas">
         <!-- FAVICON -->
        <link rel="icon" type="img/png" href="../assets/img/animales.png">
         <!-- CSS -->
        <link rel="stylesheet" href="../css/estilos.css">
        
    </head>
    <body>
        <header>
             <!-- HEADER -->
            <div class="logotexto">
                <img src="../assets/img/animales.png" alt="logotipo" class="logo" width="512" height="512">
                <h1>Pawtopia</h1>
            </div>
            <nav class="navigationBar">
                <ul class="navigationBarList">
                    <li>
                        <a class="enlace" href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a class="enlace activo" href="#">Portafolio</a>
                    </li>
                    <li>
                        <a class="enlace" href="../views/presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a class="enlace" href="../views/contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
             <!-- CUERPO -->
            <table class="tprincipal">
                <tbody>
                    <tr>
                        <td>
                            <p class="titulo">Mimos, juegos y cuidados...</p>
                            <p class="subtit">¡Puro amor peludo!</p>
                        </td>
                        <td>
                            <img class="redimensionar" src="../assets/img/Perro1.png" alt="Perro con espuma en la cabeza" width="754" height="678">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="tsecdundaria">
                <tr>
                    <td class="cajatexto">
                        <img class="redimensionar2" src="../assets/img/Perro2.png" alt="Perro siendo bañado" width="521" height="521">
                        <p>Baño</p>
                    </td>
                     <td>
                         <img class="redimensionar2" src="../assets/img/Perro3.png" alt="Perro relajandose con pepinos en los ojos" width="736" height="736">
                        <p>Spa</p>
                    </td>
                     <td>
                         <img class="redimensionar2" src="../assets/img/Perro4.png" alt="Perro al que le estan cortando el pelo" width="418" height="418">
                        <p>Peluquería</p>
                    </td>
                </tr>
            </table>
        </main>
        <footer>
             <!-- PIE -->
            <p>&copy; 2025 Pawtopia. Todos los derechos reservados.</p>
            <p>C/ Serero Ochoa, Avilés | +34 654 30 55 12</p>
                <div class="redes-sociales">
                    <a href="www.facebook.com"><img src="../assets/img/Facebook.png" alt="Icono de Facebook" class="facebook" width="512" height="512"></a>
                    <a href="www.instagram.com"><img src="../assets/img/instagram.png" alt="Icono de Instagram" class="instagram" width="512" height="512"></a>
                    <a href="www.x.com"><img src="../assets/img/twitter.png" alt="Icono de Twitter" class="twitter" width="460" height="460"></a>
                    <a href="www.youtube.com"><img src="../assets/img/youtube.png" alt="Icono de Youtube" class="youtube" width="512" height="512"></a>
                </div>
        </footer>
         <!-- JAVA -->
        <script src="../js/javascript.js"></script>
    </body>
</html>